<!--<tr>
    <td>1 {{numLot}} </td>
    <td>2 {{type}} </td>
    <td>3 {{poids}} </td>
    <td>4 {{tauxHumidite}} </td>
    <td>5 {{qualite}} </td>
    <td>6 {{origine}} </td>
</tr>-->
<table>
    <tr>
        <td>Numlot</td>
        <td>Type</td>
        <td>Poids</td>
        <td>TauxHumidité</td>
        <td>Qualité</td>
        <td>Origine</td>
    </tr>
    <tr>
        <td> {{numLot}} </td>
        <td> {{type}} </td>
        <td> {{poids}} </td>
        <td> {{tauxHumidite}} </td>
        <td> {{qualite}} </td>
        <td> {{origine}}</td>
    </tr>
 </table>