<table>
    <tr>
        <td>Numlot</td>
        <td>Type</td>
        <td>Poids</td>
        <td>TauxHumidité</td>
        <td>Qualité</td>
        <td>Origine</td>
    </tr>
    <tr>
        <td> {{numLot}} </td>
        <td> {{type}} </td>
        <td> {{poids}} </td>
        <td> {{tauxHumidite}} </td>
        <td> {{qualite}} </td>
        <td> {{origine}}</td>
        <td><button class="btn btn-sm btn-success"
            [disabled]="analyse"
            (click)="analyser()">Analyser</button></td>
        <td *ngIf="analyse"><button class="btn btn-sm btn-success"
            (click)="clean()">Nettoyer</button></td>
    </tr>
 </table>