<div class="body">
<div class="container-camions">
  <p>Camions de livraison</p>
  <app-camion *ngFor="let camion of camions"
            [action] = "camion.action"></app-camion>
  <button class="btn btn-success"
              (click)="rendreDispo()">Rendre disponible</button>
</div>

<div class="container-lots">
<p>Arrivée des lots de céréales</p>
<div>
  <button class="btn btn-success"
              [disabled]="!camionDispo()"
              (click)="ramenerLot()">Ajouter lot céréales</button>
  <!--<app-lot-cereales *ngFor="let lot of lots; let i = index"
                    [numLot]="i"
                    [poids]="lot.poids"
                    [index]="i"
                    [analyse]="lot.poids">
  </app-lot-cereales>-->

  <div class="container">

    <div class="table">

        <div class="table-header">

            <div class="header">
                <a>NumLot</a>
            </div>
            <div class="header">
                <a>Type</a>
            </div>
            <div class="header">
                <a>Poids</a>
            </div>
            <div class="header">
                <a>TauxHumidité</a>
          </div>
          <div class="header">
                <a>Qualité</a>
          </div>
          <div class="header">
               <a>Origine</a>
          </div>
          <div class="header">
            <a>Analyser</a>
          </div>
          <div class="header">
            <a>Nettoyer</a>
          </div>
          <div class="header">
            <a>Ajouter</a>
          </div>
        </div>
        
        <div class="table-row" *ngFor = "let lot of lots; let i = index">
            <div class="data">
              {{lot.numLot}}
            </div>
            <div class="data">
              {{lot.type}}
            </div>
            <div class="data">
              {{lot.poids}}
            </div>
            <div class="data">
              {{lot.tauxHumidite}}
            </div>
            <div class="data">
              {{lot.qualite}}
            </div>
            <div class="data">
              {{lot.origine}}
            </div>
            <div class="data">
              <button class="btn btn-sm btn-success"
              [disabled]="lot.ajoute"
               (click)="lot.analyser()">Analyser</button>
            </div>
            <div class="data">
              <button class="btn btn-sm btn-success"
              [disabled]="!lot.analyse || lot.ajoute"
              (click)="lot.clean()">Nettoyer</button>
            </div>
            <div class="data">
              <button class="btn btn-sm btn-success"
              [disabled]="!lot.nettoye || lot.ajoute"
              (click)="add(i)">Ajouter</button>
            </div>

        </div>

    </div>
    
</div>

  <button class="btn btn-success"
              (click)="check()">Vérifier</button>
</div>

</div>
</div>