<table>
    <tr>
        <th>Silo {{idSilo}}</th>

    </tr>
    <tr>
        <td>Num cellule</td>
        <td>Nb sondes</td>
        <td>Température</td>
        <td>Céréales contenues</td>
        <td>Cliquer</td>
    </tr>
    <tr *ngFor = "let cellule of listeCellule">
        <td>
            {{cellule.id}}
        </td>
        <td>
            {{cellule.nbSonde}}
        </td>
        <td>
            {{cellule.temperature}}
        </td>
        <td>
            {{cellule.type}}
        </td>
        <td>
            <button class="btn btn-success"
                  (click)="cellule.setTemperature(5)">Ajuster</button>
        </td>
    </tr>
</table>