<table>
    <tr>
        <th>Silo</th>

    </tr>
    <tr>
        <td>Num cellule</td>
        <td>Nb sondes</td>
        <td>Température</td>
        <td>Céréales contenues</td>
        <td>Cliquer</td>
        <td>Cliquer</td>
        <td>Cliquer</td>
        <td>État</td>
    </tr>
    <tr *ngFor = "let cellule of listeCellule">
        <td>
            {{cellule.id}}
        </td>
        <td>
            {{cellule.nbSonde}}
        </td>
        <td>
            {{cellule.temperature}}
        </td>
        <td>
            {{cellule.type}}
        </td>
        <td>
            <button class="btn btn-success"
                  (click)="cellule.Ventiler()">Ventiler</button>
        </td>
        <td>
            <button class="btn btn-success"
                  (click)="Ventiler()">Ventiler 2</button>
        </td>
        <td>
            <button class="btn btn-success"
                  (click)="cellule.SimulerAccident()">Simuler accident</button>
        </td>
        <td>
            {{cellule.etat}}
        </td>
    </tr>
</table>