.navbar{
    overflow : hidden;
    background-color : #333333;
    font-family : Arial;
}

.navbar .nonclickable{
    overflow : hidden;
    background-color : #F7F7F7;
    font-family : Arial;
}

.navbar a{
    float : left;
    font-size : 30px;
    color : white;
    text-align : center;
    padding : 14px 16px;
    text-decoration : none;
    width:30%
}

.navbar #docOc{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color : black;
    font-weight: bolder;
}

.navbar a:hover{
    background-color :slategray;
}

.navbar .nonclickable:hover{
    background-color:#F7F7F7;
}