<!--<app-silo>
</app-silo>-->

<div class="container-stockage" [style.background-color]="getColor()">
<p>SILO</p>

<div class="container">

    <div class="table">

        <div class="table-header">

            <div class="header">
                <a>Num cellule</a>
            </div>
            <div class="header">
                <a>Nb sondes</a>
            </div>
            <div class="header">
                <a>Température</a>
            </div>
            <div class="header">
                <a>Céréales contenues</a>
            </div>
            <div class="header">
                <a>Poids</a>
            </div>
            <div class="header">
                <a>Origine</a>
            </div>
            <div class="header">
                <a>Qualité</a>
            </div>
            <div class="header">
                <a>Taux d'humidité</a>
            </div>
            <div class="header">
                <a>Lancer la ventilation</a>
            </div>
            <div class="header">
                <a>Simuler un accident</a>
            </div>
            <div class="header">
                <a>Sonde</a>
            </div>
        </div>
        
        <div class="table-row"  *ngFor = "let cellule of silo.listeCellule">
            <div class="data">
                {{cellule.id}}
            </div>
            <div class="data">
                {{cellule.nbSonde}}
            </div>
            <div class="data">
                {{cellule.temperature}}
            </div>
            <div class="data">
                {{cellule.type}}
            </div>
            <div class="data">
                {{cellule.poids}}
            </div>
            <div class="data">
                {{cellule.origine}}
            </div>
            <div class="data">
                {{cellule.qualite}}
            </div>
            <div class="data">
                {{cellule.taux_humidite}}
            </div>
            <div class="data">
                <button class="btn btn-success"
                (click)="cellule.Ventiler()">Ventiler</button>
            </div>
            <div class="data">
                <button class="btn btn-success"
                  (click)="cellule.SimulerAccident()">Simuler accident</button>
            </div>
            <div class="data">
                {{cellule.etat}}
            </div>
        </div>

    </div>
    
</div>

<button class="btn btn-success"
                  (click)="check()">Test</button>

</div>