/* You can add global styles to this file, and also import other style files */

body{
background-color:lightgray;
}
button:disabled {
    opacity: .35 !important;
    background-color :lightgray !important;
}
