<div class="container">

    <div class="table">

        <div class="table-header">

            <div class="header">
                <a>Plaque</a>
            </div>
            <div class="header">
                <a>TypeCereales</a>
            </div>
            <div class="header">
                <a>Action</a>
            </div>
        </div>
        
        <div class="table-row">
            <div class="data">
                {{plaque}}
            </div>
            <div class="data">
                {{typeCereale}}
            </div>
            <div class="data">
                {{action}}
            </div>
        </div>

    </div>
    
</div>
